/*Make the table headers bold*/
thead th
{
	font-weight: bold;
}

/* Make the table headers within the table body non-bold italic */
tbody th
{
	font-weight: normal;
	font-style: italic;
}

/* Make the font color first data column within the table body red */
tbody > tr > td:first-of-type 
{
	color: red;
}

/* Make the table data blue two rows down from the first row */
tbody > tr >td:first-of-type + td + td
{
	color: blue;
}

/* Color the even numbered rows */
tbody > tr:nth-child(2n) 
{
	background-color: #7ae;
}

/* Color the odd numbered rows */
tbody > tr:nth-child(odd)
{
	background-color: #5f8;
}

/* Hovering over a definition title causes a purple background behind definition data */
dt:hover + dd
{
	background-color: purple;
}

/* Push the outercontent div down 20px(required) */
/* Also -cause the forms to float (not required) */
form > fieldset
{
	font-weight: bold;
	float: left;
	margin-bottom: 20px;
}

/* Make a pink background 3/4 page width */
.outercontent
{
	clear: left;
	background-color: #f77;
	width: 75%;
}

/* Make a blue background 3/4 of outercontent class width and center it */
.innercontent
{
	margin-left: 12.5%;
	text-align: center;
	background-color: #7ae;
	width: 75%;
}

/* Float the image causing the text to wrap */
img
{
	float: left;
}



/* ***The following styling is not required for this assignment*** */

/* Make the caption look nicer */
caption
{
	font: bold 150% "Monotype Corsiva" cursive;
}

/* Remove bullets from radio buttons */
ul 
{
  list-style: none;
}

/* */
fieldset > fieldset
{
	border: 2px solid gray;
	margin: .5em;
	padding: .4em;
}

form > fieldset > legend:first-of-type
{
	font: bold 1.3em sans-serif;
}

fieldset > input
{
	width: 150px;
	float: right;
	padding-right: 5px;
	margin-left: 10px;
}

tfoot > tr > th + th
{
	text-align: left;
	text-indent: 1em;
}

table
{
	width: 300px;
	border: 2px solid black;
	border-collapse: collapse;
	empty-cells:show;
	background-color: #eee;
}

th, td
{
	border: 1px solid #bbb;
	padding: .2em;
}

th
{
	font: 1.2em sans-serif;
	text-align: right;
	padding-right: .5em;
}

td 
{
	padding-left: 1em;
}
