/*Make the table headers bold*/
thead > th
{
	font-weight: bold;
}
/* Make the table headers within the table body non-bold italic */
tbody th
{
	font-weight: normal;
	font-style: italic;
}

/* Make the font color first data column within the table body red */
tbody > tr > td:first-of-type 
{
	color: red;
}

/* Make the table data blue two rows down from the first row */
tbody > tr >td:first-of-type + td + td
{
	color: blue;
}

/* Color the even numbered rows */
tbody > tr:nth-child(2n) 
{
	background-color: #7ae;
}

/* Color the odd numbered rows */
tbody > tr:nth-child(odd)
{
	background-color: #5f8;
}

dt:hover
{
	background-color: purple;
}

.outercontent
{
	clear: left;
	margin-top: 20px;
	background-color: #f77;
	width: 75%;
}

.innercontent
{
	margin-left: 12.5%;
	text-align: center;
	background-color: #7ae;
	width: 75%;
}

img
{
	float: left;
}



/* The following styling is not required for the assignment */

ul {

  list-style: none;
}

fieldset
{
	margin: .5em;
	padding: .4em;
}

form > fieldset
{

	float: left;
}

tfoot > tr > th + th
{
	text-align: left;
	text-indent: 1em;
}
caption
{
	font: bold 130% sans-serif ;
}

table
{
	width: 300px;
	border: 2px solid black;
	border-collapse: collapse;
	empty-cells:show;
	background-color: #eee;
}

th, td
{
	border: 1px solid #bbb;
	padding: .2em;
}

th
{
	font: 1.2em sans-serif;
	text-align: right;
	padding-right: .5em;
}

td 
{
	padding-left: 1em;
}